body {
  background-color: rgb(228, 233, 162);
  color: #000;
}

.link, .href {
  color: rgb(128, 128, 241);
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #ee7a7a transparent;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 7px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #afb657;
    border-radius: 34px;
    border: 0px outset #000000;
  }